<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121149545613-u1o9udp5k8v1mqo8a7g5ru96janpp3dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121149545613-u1o9udp5k8v1mqo8a7g5ru96janpp3dm</string>
	<key>API_KEY</key>
	<string>AIzaSyBQaNSFYewjPen49mHl9sgZeIuoSbsvjok</string>
	<key>GCM_SENDER_ID</key>
	<string>121149545613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blueSavers</string>
	<key>PROJECT_ID</key>
	<string>bluesaver-2f664</string>
	<key>STORAGE_BUCKET</key>
	<string>bluesaver-2f664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121149545613:ios:1a109c28ee30cfd8ba16c4</string>
</dict>
</plist>